wba22_studynews/src/dozentenliste/dozentenliste.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/dozentliste" elementFormDefault="qualified">
	<xs:element name="dozentenliste">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dozent" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="id" type="xs:int"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>	
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>