wba22_studynews/src/xmlUxsd/user/student.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xs:element name="student">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nachname" type="xs:string" />
				<xs:element name="vorname" type="xs:string" />
				<xs:element name="kennung" type="xs:string"/>	
				<xs:element name="studiengang" type="xs:string" />
				<xs:element name="semester" type="xs:integer" />
				<xs:element name="email" type="xs:string" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:integer" />
		</xs:complexType>
	</xs:element>
	
</xs:schema>