wba22_studynews/src/xmlUxsd/dozentenliste.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xs:element name="dozentenliste">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dEintrag" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="dozent_id" type="xs:nonNegativeInteger" />
							<xs:element name="name" type="xs:string" />
							<xs:element name="lehrgebiet" type="xs:string" />
							</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>



</xs:schema>